<div class="card my-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                <img class="rounded-circle" src="###USER_PHOTO###" width="75" height="75">
            </div>
            <div class="col-md-6">
                <a href="http://localhost:8888/profile?username=###USERNAME###" style="color: black">###USER_FULL_NAME###</a>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <div><i class="fas fa-calendar-alt"></i> ###POST_DATE###</div>
                    <div><i class="fas fa-calendar-alt"></i> ###POST_TIME###</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <strong class="card-title">###POST_TITLE###</strong>
        <p class="card-text">###POST_TEXT###</p>
    </div>
</div>
