/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.avatar {
  width: 200px;
  height: 200px;
}
.post .avatar {
  height: 45px;
  width: 45px;
}
.pagination {
  padding-left: 47%;
}
.carddate {
  font-size: 12px;
  position: absolute;
  margin-left: 60%;
}